:root {
  --dark: #011627;
  --light: #bec5d4;
  --white: #ffffff;
}

body {
  font-family: 'Fira Code', monospace;
  line-height: 1.8rem;
  color: var(--light);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 100px;
  border-top: 2px solid var(--light);
}

/* bg-color */
.bg-owl {
  background: var(--dark);
}

/* Navbar */
.navbar-brand {
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--light);
}

/* Carousel  */
.carousel-indicators li {
  background-color: var(--light);
}

/* Cards */
.card {
  background: var(--light);
  border-color: var(--dark);
}

/* Modal */
.modal-dialog,
.modal-content {
  height: 95%;
}

.modal-body {
  max-height: 100vh;
}

/* Header */
.hero-section {
  color: var(--white);
  background: url('../img/header.jpg') no-repeat center center/cover;
}

.hero-section h2 {
  font-size: 1.5rem;
}

.hero-section hr {
  width: 216px;
  border-top: 2px solid var(--light);
}

.hero-section .hero-container {
  padding: 4rem 1rem;
}

/* About */
#about {
  color: var(--dark);
  padding: 2rem 1rem 2rem;
}

/* Experience, Contact */
#experience,
#contact {
  color: var(--dark);
  padding: 4rem 1rem 4rem;
}

/* Works */
#works {
  padding: 4rem 1rem 6rem;
}

#works .card-body {
  color: var(--dark);
}

/* Contact, Footer */
#footer {
  padding: 2rem 1rem 2rem;
}

/* Footer */
#footer p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#footer a {
  color: var(--light);
}

#footer a:hover {
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero-section h1 {
    font-size: 4.5rem;
  }

  .hero-section hr {
    width: 695px;
  }

  .hero-section h2 {
    font-size: 2.5rem;
  }

  #footer {
    padding: 4rem 1rem 3rem;
  }

  #footer p {
    font-size: 2.5rem;
  }
}
