:root {
  --dark: #011627;
  --cream: #bec5d4;
  /* --soft: #1d3b53; */
  --soft: #5f7d97;
  --white: #ffffff;
}

body {
  font-family: 'Fira Code', monospace;
  line-height: 1.8rem;
  color: var(--cream) !important;
  line-height: 2rem;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600 !important;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.2rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1.2rem;
  width: 100px;
  border-top: 2px solid var(--cream) !important;
}

/* bg-color */
.bg-owl-dark {
  background: var(--dark);
}

.bg-owl-light {
  background: var(--soft);
}

/* Text */
.text-dark {
  color: var(--dark);
}

.lead {
  font-size: 1.41rem;
}

/* Navbar */
.navbar-brand {
  font-weight: 600;
}

.navbar-dark .navbar-brand {
  color: var(--cream);
}

.navbar-dark .navbar-nav .nav-link {
  color: var(--soft);
}

/* Carousel  */
.carousel-indicators li {
  background-color: var(--cream);
}

/* Cards */
.card {
  background: var(--soft);
  /* border-color: var(--dark); */
}

.card-body {
  color: var(--cream);
}

/* Modal */
.modal-dialog,
.modal-content {
  height: 95%;
}

.modal-body {
  max-height: 100vh;
}

/* Header */
.hero-section {
  /* color: var(--white); */
  background: url('../img/header-min.jpg') no-repeat center center/cover;
}

.hero-section h2 {
  font-size: 1.5rem;
}

.hero-section hr {
  width: 271px;
  border-top: 2px solid var(--cream);
}

/* Overlay */
.hero-section .hero-container {
  background-color: rgba(1, 22, 39, 0.6);
}

/* About */
#about {
  /* color: var(--dark); */
  padding: 4rem 1rem 4rem;
}

/* Experience, Contact */
#experience,
#contact {
  /* color: var(--dark); */
  padding: 4rem 1rem 4rem;
}

/* Works */
#works {
  padding: 4rem 1rem 6rem;
}

/* Contact, Footer */
#footer {
  padding: 2rem 1rem 2rem;
}

/* Footer */
#footer p {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#footer a {
  color: var(--cream);
}

#footer a:hover {
  color: var(--white);
  text-decoration: none;
}

@media (min-width: 768px) {
  .hero-section h1 {
    font-size: 4.5rem;
  }

  .hero-section hr {
    width: 688px;
  }

  .hero-section h2 {
    font-size: 2.5rem;
  }

  #footer {
    padding: 4rem 1rem 3rem;
  }

  #footer p {
    font-size: 2.5rem;
  }
}
